{{#if user}}
<div class="sidebar">
    {{#if admin.fullname}}
    <h3>Admin</h3>
    {{else if teacher.fullname}}
    <h3>Profesor</h3>
    {{else if student.fullname}}
    <h3>Estudiante</h3>
    {{/if}}

<ul>

    {{#if admin.fullname}}
    <li><a href="/admin/"><i></i>Dispositivos</a></li>
    <li><a href="/admin/add"><i></i>Registrar dispositivo</a></li>
    <li><a href="/admin/edit"><i></i>Editar dispositivo</a></li>
    <li><a href="/admin/delete"><i></i>Eliminar dispositivo</a></li>
    <li><a href="/admin/add"><i></i>Gestionar PC's</a></li>
    {{else if teacher.fullname}}
    <li><a href="/teacher/reserve/list"><i></i>Pr&aacute;cticas grupales</a></li>
    <li><a href="/teacher/reserve/create"><i></i>Reservar pr&aacute;ctica</a></li>
    {{else if student.fullname}}
    <li><a href="/admin/add"><i></i>ESTUDIANTE</a></li>
    {{/if}}

</ul>

    <a class="closesession btn btn-dark" href="/logout">Cerrar Sesi&oacute;n</a>

</div>



{{/if}}
