{{#if user}}
<div class="sidebar">
    {{#if admin.fullname}}
    <h3 align="center">Admin</h3>
    {{else if teacher.fullname}}
    <h3 align="center">Profesor</h3>
    {{else if student.fullname}}
    <h3 align="center">Estudiante</h3>
    {{/if}}

<ul>

    {{#if admin.fullname}}
    <li><a href="/admin/"><i></i>Dispositivos</a></li>
    <li><a href="/admin/add"><i></i>Registrar dispositivo</a></li>
    <li><a href="/admin/edit"><i></i>Editar dispositivo</a></li>
    <li><a href="/admin/delete"><i></i>Eliminar dispositivo</a></li>
    <li><a href="/admin/practice/book"><i></i>Reservar dispositivos</a></li>
    <li><a href="/admin/practice/reservelist"><i></i>Reservas realizadas</a></li>
    <li><a href="/admin/selectdevices"><i></i>Gestionar Dispositivo</a></li>
    {{else if teacher.fullname}}
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Grupal</a>
    <li><a href="/teacher/practice/list"><i></i>Lista Pr&aacute;cticas</a></li>
    <li><a href="/teacher/practice/add"><i></i>Crear Pr&aacute;ctica</a></li>
    <li><a href="/teacher/reserve/list"><i></i>Lista Reservas</a></li>
    <li><a href="/teacher/reserve/create"><i></i>Crear Reserva</a></li>
    <br>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Individual</a>
    <li><a href="/teacher/reserve/singleReserves"><i></i>Reservas Individuales</a></li>
    <li><a href="/teacher/singlePractice/add"><i></i>Reservar</a></li>
    {{else if student.fullname}}
   <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Grupal</a>
    <li><a href="/student/practice/list"><i></i>Lista pr&aacute;cticas</a></li>
     <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Individual</a>
      <li><a href="/student/singleReserves"><i></i>Reservas Individuales</a></li>
    <li><a href="/student/practice/book"><i></i>Reservar dispositivos</a></li>
   
    {{/if}}

</ul>
   <a class="closesession btn btn-dark" href="/logout">Cerrar Sesi&oacute;n</a>
    <a class="closesession btn btn-dark" href="/logout">Cerrar Sesi&oacute;n</a>

</div>



{{/if}}
