<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="text-center">
                <div class="presentation">
                    <h2>ADMIN {{admin.fullname}}</h2>
                    </br>
                    <h5>GESTIÓN DISPOSITIVO</h5>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container p-4">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mx-auto">
        <div class="form-check form-switch">
            <input class="form-check-input" onchange="changeState()" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" id="text" for="flexSwitchCheckDefault">Gestionar dispositivo</label>
        </div>
    </div>
</div>

<script>

    function changeState() {

        var c = $("#flexSwitchCheckDefault").is(':checked');
      
        var typ = "off";
       
        if (c) {
            typ = "on";
        }

        $.ajax({
            url: '/admin/turn/' + typ,
            success: function () {
                 
              
            }
        }
        );


    }
</script>