<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="text-center">
                <div class="presentation">


                    <h1><strong>LABORATORIO VIRTUALIZADO</strong></h1>
                    <h1><strong>TELEM&Aacute;TICA</strong></h1>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSO6xj62rKVdbJbclVDGeOIBU0g3DlLsR-M-kNyPDIWN4LEugsSQ3jtZmhLYbFxz9HdNAgEM4H2AWUjd9NVb9dhBnqlD8UKW0&usqp=CAU&ec=45732302"
                 width="300" height="400">

        </div>
        <div class="col-6 col-md-3">


            <form action="/signin" method="post">


                <div class="form-group">

                    <label for="username">Usuario&nbsp;&nbsp;</label>
                    <input type="text" name="username" placeholder="Nombre de usuario" class="form-control" autofocus />
                </div>
                <div class="form-group">
                    <label for="password">Contrase&ntilde;a&nbsp;&nbsp;</label>
                    <input type="password" name="password" placeholder="Contrase&ntilde;a" class="form-control" />
                </div>

                <div class="form-group">
                  
                    <select id="role" name="role">
                        <option value="estudiante">Estudiante</option>
                        <option value="profesor">Profesor</option>
                        <option value="admin">Administrador</option>
                    </select>
                </div>


                <div class="form-group">
                    <button class="btn btn-secondary">Iniciar sesi&oacute;n</button>
                </div>
            </form>
            <a href="/signupcode">Crear cuenta</a>

        </div>
    </div>

</div>